<h1 style="font-weight: bold">Guess the word!</h1>

<%=  game_state(@tally.game_state)  %>

<div class="row">

  <div style="width: 25%; margin: auto">
    <%= render "_gallows.html", left: @tally.turns_left %>
  </div>

  <div style="width: 60%">
    <%= render "_status.html", tally: @tally, conn: @conn%>
  </div>

</div>
