<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Hangman Game" %></h1>
  <p>Please Enjoy the name</p>
</section>

<div id="app">
  <div v-bind:class="'alert alert-' + game_state_class">
    {{ game_state_message }}
  </div>

  <div class="row">

    <div style="width: 25%; margin: auto">
      <%= render "_gallows.html" %>
    </div>

    <div style="width: 60%">
      <%= render "_status.html" %>
    </div>

  </div>

</div>
